/* include fonts */
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Thin.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-ThinItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
    font-style: italic;
}

/* root variables */
:root {
    --white: #fff;
    --background: #f9f9f9;
    --text: #292929;
    --border: #cccccc;

    --primary-color: #5457a6;
    --sec-color: #eebb55;

    --primary-btn-bg: #5457a6;
    --primary-btn-bg-h: #47378f;
    --primary-btn-color: #f2f2f2;
    --sec-btn-bg: #eebb55;
    --sec-btn-bg-h: #dda73b;
    --sec-btn-color: #292929;
    --active-link-bg: hsl(0, 0%, 93%);

    --box-shadow-10: rgba(0, 0, 0, 0.1);
    --box-shadow-20: rgba(0, 0, 0, 0.2);
    --box-shadow-30: rgba(0, 0, 0, 0.3);
}
// SCSS variables
$transition: 200ms ease;
$btn-padding: .5em 2em;
$btn-border-radius: .2em;

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-padding-top: 9rem;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: var(--background);
    color: var(--text);
    min-height: 150vh;
}

/* basic components */
.container {
    position: relative;
    width: 1280px;
    max-width: 95%;
    margin-inline: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    outline: none;
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    transition: 
        background-color $transition, 
        color $transition, 
        border $transition,
        transform $transition;

    &:active {
        transform: scale(0.95);
    }

    &--primary {
        background-color: var(--primary-btn-bg);
        border: 2px solid var(--primary-btn-bg);
        color: var(--primary-btn-color);

        &:hover, &:focus {
            background-color: var(--primary-btn-bg-h);
            border: 2px solid var(--primary-btn-bg-h);
        }
    }

    &--sec {
        background-color: var(--sec-btn-bg);
        border: 2px solid var(--sec-btn-bg);
        color: var(--sec-btn-color);

        &:hover, &:focus {
            background-color: var(--sec-btn-bg-h);
            border: 2px solid var(--sec-btn-bg-h);
        }
    }

    &--outline {
        border: 2px solid var(--primary-btn-bg);
        color: var(--primary-btn-bg);

        &:hover, &:focus {
            background-color: var(--primary-btn-bg);
            color: var(--primary-btn-color);
        }
    }

    &--tertiary {
        color: var(--primary-btn-bg);
        text-decoration: underline;
        padding: 0;

        &:hover, &:focus {
            text-decoration: none;
        }
        &[disabled], &.btn--disabled {
            background-color: transparent !important;
            color: lightgray !important;
            text-decoration: underline !important;
        }
    }

    &[disabled], &--disabled {
        cursor: not-allowed;
        background-color: lightgray;
        border-color: lightgray;
        color: var(--primary-btn-color);
    }
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 5px 0 8px var(--box-shadow-10);
    transition: margin-bottom $transition;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo a {
        display: flex;
        align-items: center;
        gap: 1em;
        text-decoration: none;
        outline: none;

        span {
            font-size: 2rem;
            font-weight: 700;
            color: var(--sec-color);
        }
        img {
            width: auto;
            height: 9rem;
            margin-bottom: -1.5rem;
            box-shadow: 5px 0 5px 0 var(--box-shadow-10);
            transition: margin-bottom $transition, height $transition;
        }
        &:focus span {
            text-decoration: underline currentColor;
        }
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: .8em;
        list-style: none;

        li a {
            position: relative;
            display: block;
            font-weight: inherit;
            text-decoration: none;
            color: inherit;
            padding: .6em .8em;
            border-radius: .2em;
            transition: background-color $transition;

            &:not(.btn):hover, &:not(.btn):focus {
                background-color: var(--active-link-bg);
            }
        }
        li a.active:not(.btn) {
            font-weight: 700;
        }
    }
}
.scrolled .logo img {
    margin-bottom: 0;
    height: 7.5rem;
}


/* --- MAIN --- */
/* hero section */
.hero {
    padding-top: 1.5rem;
    background-color: #e6e6e6;

    .container {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5%;
    }
    h1 {
        font-size: 4.2rem;
        max-width: 60rem;
        line-height: 1;
        margin-bottom: .5em;
    }
    p {
        max-width: 80rem;
    }
    .btns {
        display: flex;
        gap: 1em;
        margin-top: 2em;
    }
    .scroll-cta {
        position: absolute;
        bottom: -2rem;
        right: 0;
        filter: drop-shadow(0 0 3px var(--background));
        animation: bounce 2s cubic-bezier(0.39, 0.52, 0.38, 1.01) forwards infinite;
    }
}
@keyframes bounce {
    50%, 100% {
        transform: none;
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(5px);
    }
}