/* including fonts */
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-BoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    letter-spacing: 1px;
    color: var(--title);

    &::first-letter {
        text-transform: uppercase;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin: .2em 0;
}
h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin: .2em 0;
}
h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    margin: .2em 0;
}
h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: .2em 0;
}
h5 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: .2em 0;
}
h6 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: .2em 0;
}
h6 + p {
    font-size: 1.4rem;
}
a:not(.link, .btn, .btn--link) {
    color: var(--title);
    text-decoration: none;
}