.latest-donates {
    .flex {
        gap: 2em;
    }
    ul {
        padding: .3em 1em;
        margin: 1.5em 0 0 0;
        list-style: none;
        border: 1px solid var(--border);
        border-radius: $border-radius;

        &.show-all li {
            display: block;
        }
        li {
            margin: .5em 0;
            text-align: justify;
            display: none;

            span {
                font-weight: 600;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                display: block;
            }
        }
    }
    ul + a.btn--link {
        display: inline-block;
        margin-top: 1em;
    }
    img {
        border-radius: $border-radius;
    }
}
