footer {
    background-color: var(--white);
    box-shadow: -5px 0 8px var(--box-shadow-10);
    font-size: 1.5rem;
    padding: 2em 0 1em 0;

    .container:first-child {
        gap: 2em;
        
        .footer-col {
            flex: 1 1 20%;

            a:not(.btn), span {
                color: var(--text);
                display: block;
                text-decoration: none;
                padding: .2em 0;

                &:hover:not(span), &:focus:not(span) {
                    text-decoration: underline;
                }
            }
            &:last-child > span {
                margin: .2em 0 .5em 0;
                font-style: italic;
            }
            &:nth-child(2) {
                flex: 15%;
            }
            &:nth-child(3) {
                flex: 25%;
            }
        }

        .about {
            flex: 1 1 35%;
            font-size: .9em;
            margin-right: 2em;

            .logo img {
                height: 5em;
                width: auto;
                margin-bottom: 1em;
            }
        }
    }

    .container:last-child {
        font-size: 1.4rem;
        color: #999;
        margin-top: 2.5em;

        a {
            text-decoration: none;
            margin: 0 .8em;
            color: inherit;
            
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}