// hero section
@import "_hero.scss";
@import "_contact.scss";
@import "_animals.scss";
@import "_about.scss";
@import "_donate.scss";


// Global section css
section {
    position: relative;
    margin: max(10rem, 5vh) 0;
    &:first-of-type {
        margin-top: 3rem;
    }
}
.homepage section:first-of-type { 
    margin-top: 0 !important;
}