.donate {
    input, textarea {
        box-shadow: inset 0 0 50rem var(--white);
    }
    .donate-box > div {
        background-color: var(--white);
        border: 1px solid var(--border);
        box-sizing: content-box;
    }
    .donate-left {
        max-width: 67%;

        .banner {
            position: relative;
            height: 20rem;
            background-image: url(/images/doneren-banner.jpg);
            background-repeat: no-repeat;
            background-position: center 90%;
            background-size: cover;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgba(0,0,0,.1);
            }
        }
        .donate-info {
            padding: 1em;

            .top {
                .totalprice {
                    float: left;
                    margin-right: .5em;
                    color: var(--title);
                    font-weight: 700;
                }
                .goal {
                    float: left;
                    color: gray;
                }
                .totaldonates a {
                    color: gray;
                    font-weight: 700;
                }
                .progressbar {
                    position: relative;
                    width: 100%;
                    height: .4em;
                    margin: 1em 0;
                    border-radius: 1em;
                    background-color: var(--border);

                    .bar {
                        position: absolute;
                        width: 16%;
                        max-width: 100% !important;
                        height: 100%;
                        border-radius: 1em;
                        background-color: var(--primary-color);
                        transition: width 250ms linear;
                    }
                }
            }
            .middle {
                margin: 1.5em 0;

                h2 {
                    font-size: 2.6rem;
                }
            }
            .bottom {
                align-items: baseline;

                .share {
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    img {
                        height: 1.3em;
                        width: auto;
                    }
                }
                .thanks {
                    gap: .5em;
                    padding-bottom: .5em;
                    font-size: 1.4rem;
                    font-style: italic;
                    color: gray;
                    border-bottom: 1px solid var(--border);

                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .donate-right {
        position: relative;
        max-width: 33%;
        width: 37rem;
        padding: 1em 1.5em;
        padding-top: 4em;
        margin-left: -1px;

        .logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 12rem;
                height: auto;
                transform: translateY(-50%);
            }
        }
        h3 {
            text-align: center;
            margin-bottom: 1em;
        }
        .flex {
            flex-wrap: wrap;
            gap: .5em;

            > button {
                flex: 1 1 30%;
                
                position: relative;
                font-size: 1.8rem;
                color: #666;
                background-color: var(--white);
                padding: .5em 0;
                border: 2px solid transparent;
                border-radius: $border-radius;
                box-shadow: 0 0 5px var(--box-shadow-20);
                
                &.active {
                    $corner-offset: 3px;
                    border-color: var(--sec-color);
                    color: var(--sec-color);
                    font-weight: 600;
                    background: var(--white) url(/images/checkmark-yellow.svg) no-repeat calc(100% - $corner-offset) $corner-offset;
                    background-size: 1em;
                }
            }
            > .input {
                flex: 1 1 100%;
                position: relative;
                font-size: 1.8rem;
                background-color: var(--white);
                border: 2px solid transparent;
                border-radius: $border-radius;
                box-shadow: 0 0 5px var(--box-shadow-20);    
                cursor: pointer;

                &.active {
                    $corner-offset: 3px;
                    border-color: var(--sec-color);
                    
                    &::after {
                        content: '';
                        position: absolute;
                        right: $corner-offset;
                        top: $corner-offset;
                        background: url(/images/checkmark-yellow.svg) no-repeat;
                        background-size: 1em;
                        width: 1em;
                        height: 1em;
                    }
                    input {
                        padding-right: 1.5em;
                        color: var(--sec-color);
                        font-weight: 600;
                    }
                    label span {
                        font-weight: 600;
                        color: var(--sec-color);
                    }
                }

                input {
                    border: none;
                    width: 67%;
                    border-radius: inherit;
                    padding: .5em;
                    padding-left: 0;
                    float: right;
                    outline: none;
                    font-size: inherit;
                }
                label {
                    font-size: 1.6rem;
                    position: absolute;
                    top: 0.55em;
                    left: 1em;
                    font-style: italic;
                    color: #999;
                    pointer-events: none;

                    span {
                        font-size: 1.8rem;
                        font-style: normal;
                        margin-left: .5em;
                        color: var(--text);
                    }
                }
            }
        }
        .msg:not(:empty) {
            width: fit-content;
            margin: -1em auto 1em auto;
            font-weight: 600;
            font-style: italic;
            color: red;
            padding-left: 2em;
            background: url(/images/warning.svg) no-repeat left 46%;
            background-size: 1.3em;
        }
        button.btn {
            width: 100%;
            text-align: center;
            text-align: center;
            margin-top: 2em;
            margin-bottom: .5em;
        }
        p.sm-text {
            font-size: 1.3rem;
            font-style: italic;
            color: #808080;
            text-align: center;
            
            a {
                color: inherit;
                text-decoration: underline #aaa;
            }
        }
        .back-btn {
            position: absolute;
            top: 1.5em;
            left: 1em;
            background-color: transparent;
            color: #666;
            padding: .2em 1em;
            border: none;
            border-radius: $border-radius;
            transition: background-color $transition, color $transition;

            &:hover, &:focus {
                background-color: #ededed;
            }
        }
        form {
            all: unset;

            input, label {
                background-color: var(--white) !important;
            }
            label {
                pointer-events: none;
            }
        }
        .second-slide {
            h3 {
                margin-bottom: 2em;
            }
            button.btn {
                margin-top: 2.5em;
            }
        }
        .third-slide {
            h3 span {
                font-size: .9em;
            }
            img {
                margin-bottom: .5em;
            }
        }
    }
}