@import "../abstracts/mixins";

/* hero section */
.hero {
    padding-top: 1.5rem;
    background-color: var(--background);
    color: #f9f9f9;
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0, 0.4) 40%,  transparent 80%, rgb(255, 255, 255, 0.1) 90%);
        opacity: 0;
        animation: fadeIn .5s ease 1s forwards;
    }
    .container {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5%;

        @include mobile {
            min-width: 100vh;
        }
    }
    .hero-text {
        h1, p {
            color: inherit;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
            margin: 0 auto;
        }
        h1 {
            font-size: 4rem !important;
            max-width: 65rem;
            line-height: 1.1;
            margin-bottom: 0.5em;
            letter-spacing: 2px;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            opacity: 0;
            transform: translateY(-50px);
        }
        p {
            max-width: 80rem;
            opacity: 0;
            transform: translateY(50px);
        }
    }
    .btns {
        display: flex;
        gap: 1em;
        margin-top: 2em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0;
        transform: translateY(50px);

        .btn--outline {
            font-weight: 700;
            background-color: rgba(255, 255, 255, .6);

            &:hover {
                color: var(--primary-btn-bg);
                background-color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}