/* hero section */
.hero {
    position: relative;
    padding-top: 1.5rem;
    background-color: #e6e6e6;
    color: #fff;
    background-size: cover;
    background-position: center;

   

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.4) 40%,  transparent 60%);
    }
    .container {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5%;
    }
    h1, p {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    }
    h1 {
        font-size: 4rem;
        max-width: 65rem;
        line-height: 1.1;
        margin-bottom: 0.5em;
        letter-spacing: 2px;
    }
    p {
        max-width: 80rem;
    }
    .btns {
        display: flex;
        gap: 1em;
        margin-top: 2em;

        .btn--outline {
            font-weight: 700;
            background-color: rgba(255, 255, 255, .6);

            &:hover {
                color: var(--primary-btn-bg);
                background-color: rgba(255, 255, 255, 0.75);
            }
        }
    }
    .scroll-cta {
        position: absolute;
        bottom: -2rem;
        right: 0;
        animation: bounce 2s cubic-bezier(0.39, 0.52, 0.38, 1.01) forwards infinite;
    }
}
@keyframes bounce {
    50%, 100% {
        transform: none;
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(5px);
    }
}