/* variables */
:root {
    // root colors
    --white: #fff;
    --black: #000;

    // background & text colors
    --background: #f9f9f9;
    --title: #000;
    --text: #292929;
    --lighttext: #f2f2f2;
    --placeholder: #777;

    // primary (accent) colors
    --primary-color: #5457a6;
    --sec-color: #eebb55;

    // outlines & borders
    --outline: #000000;
    --border: #cccccc;

    // sliders
    --slider-dots: #ccc;
    --slider-dots-active: #292929;
    --slider-dots-hover: #999;

    // buttons
    --primary-btn-bg: #5457a6;
    --primary-btn-bg-h: #47378f;
    --primary-btn-color: #f2f2f2;
    --sec-btn-bg: #eebb55;
    --sec-btn-bg-h: #dda73b;
    --sec-btn-color: #292929;
    --active-link-bg: hsl(0, 0%, 93%);

    // box shadows
    --box-shadow-10: rgba(0, 0, 0, 0.1);
    --box-shadow-20: rgba(0, 0, 0, 0.2);
    --box-shadow-30: rgba(0, 0, 0, 0.3);

    // accent-color instellen
    accent-color: var(--primary-color, #5457a6);
}

// scss variables
$transition: 200ms ease;
$btn-padding: .5em 2em;
$btn-border-radius: .2em;
$border-radius: .2em;