.btn {
    display: inline-block;
    text-decoration: none;
    outline: none;
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    transition: 
        background-color $transition, 
        color $transition, 
        border $transition,
        transform $transition;

    &:active {
        transform: scale(0.95);
    }

    &--primary {
        background-color: var(--primary-btn-bg);
        border: 2px solid var(--primary-btn-bg);
        color: var(--primary-btn-color);

        &:hover, &:focus {
            background-color: var(--primary-btn-bg-h);
            border: 2px solid var(--primary-btn-bg-h);
        }
    }

    &--sec {
        background-color: var(--sec-btn-bg);
        border: 2px solid var(--sec-btn-bg);
        color: var(--sec-btn-color);

        &:hover, &:focus {
            background-color: var(--sec-btn-bg-h);
            border: 2px solid var(--sec-btn-bg-h);
        }
    }

    &--outline {
        border: 2px solid var(--primary-btn-bg); //rgb(238 187 85 / 15%)
        color: var(--primary-btn-bg);    
        
        &:hover {
            background-color: var(--primary-btn-bg);
            color: var(--primary-btn-color);
            text-shadow: none;
        }
        &:focus {
            text-decoration: underline;
            text-shadow: none;
        }
    }
    &--outline-y {
        border: 2px solid var(--sec-btn-bg);
        color: var(--sec-btn-bg);
        font-weight: 700;
        text-shadow: 0 0 8px black;
        
        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &--link {
        color: var(--text);
        text-decoration: underline;
        padding: 0;

        &:hover, &:focus {
            text-decoration: none;
        }
        &:focus {
            outline: 2px solid #292929;
        }
        &[disabled], &.btn--disabled {
            background-color: transparent !important;
            color: lightgray !important;
            text-decoration: underline !important;
        }
    }

    &[disabled], &--disabled {
        cursor: not-allowed;
        background-color: lightgray;
        border-color: lightgray;
        color: var(--primary-btn-color);
    }
}