$slider-gap: 3em;

.slider {
    margin-top: 12vh !important;
    margin-bottom: 12vh !important;

    // large centermode slick slider
    .slick-center-lg {
        width: 120vw;
        margin: 0 -10vw;

        .slick-track {
            display: flex;
            align-items: center;
            cursor: grab;

            &:active {
                cursor: grabbing;
            }

            .slick-slide img:not(.slick-center img) {
                padding: 0 $slider-gap;    
                filter: grayscale(.7) contrast(80%);
                opacity: .7;
                transition: all 400ms ease;
            }
        }

        .slick-arrow {
            z-index: 999;
            background-color: var(--primary-btn-bg);
            background-repeat: no-repeat;
            background-size: 28%;
            width: 4rem;
            height: 4rem;
            outline: 2px solid var(--background);
            border-radius: 50%;

            &::before {
                content: none;
            }
            &:hover {
                background-color: var(--primary-btn-bg-h);
            }
            &:focus-visible {
                outline-offset: .3rem;
            }
            &.slick-prev {
                left: 33rem;
                background-image: url(/images/slider-arrow-left.svg);
                background-position: 45% center;
            }
            &.slick-next {
                right: 33rem;
                background-image: url(/images/slider-arrow-right.svg);
                background-position: 54.5% center;
            }
        }

        .slick-dots {
            bottom: -2em;

            li {
                margin: 0;
            }
            button::before {
                font-size: 3rem;
            }
        }
    }
}