/* variables */
:root {
  --white: #fff;
  --black: #000;
  --background: #f9f9f9;
  --title: #000;
  --text: #292929;
  --lighttext: #f2f2f2;
  --placeholder: #777;
  --primary-color: #5457a6;
  --sec-color: #eebb55;
  --outline: #000000;
  --border: #cccccc;
  --slider-dots: #ccc;
  --slider-dots-active: #292929;
  --slider-dots-hover: #999;
  --primary-btn-bg: #5457a6;
  --primary-btn-bg-h: #47378f;
  --primary-btn-color: #f2f2f2;
  --sec-btn-bg: #eebb55;
  --sec-btn-bg-h: #dda73b;
  --sec-btn-color: #292929;
  --active-link-bg: hsl(0, 0%, 93%);
  --box-shadow-10: rgba(0, 0, 0, 0.1);
  --box-shadow-20: rgba(0, 0, 0, 0.2);
  --box-shadow-30: rgba(0, 0, 0, 0.3);
  accent-color: var(--primary-color, #5457a6);
}

.hidden {
  display: none;
}

.flex, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-col-50 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.flex-col-70 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.flex-col-33 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.flex-col-33 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.grid {
  display: grid;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: var(--background);
  color: var(--text);
  max-width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 80px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* setting abbr */
abbr {
  cursor: help;
}

.unset-all {
  all: unset;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* including fonts */
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Italic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1.4rem, 1.32rem + 0.24vw, 1.6rem);
  line-height: 1.6;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: var(--title);
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter {
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2.4rem, 1.5rem + 1.45vw, 3.2rem);
  font-weight: 800;
  line-height: 1.1;
  margin: 0.5em 0;
}

h2 {
  font-size: clamp(2rem, 0.95rem + 2.4vw, 3.8rem);
  font-weight: 700;
  margin: 0.2em 0;
}

h3 {
  font-size: clamp(1.8rem, 1.26rem + 0.95vw, 2.4rem);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0.2em 0;
}

h4 {
  font-size: clamp(1.4rem, 1.3rem + 0.48vw, 1.8rem);
  font-weight: 600;
  margin: 0.2em 0;
}

h5 {
  font-size: clamp(1.4rem, 1.32rem + 0.24vw, 1.6rem);
  font-weight: 600;
  margin: 0.2em 0;
}

h6 {
  font-size: clamp(1.2rem, 1.12rem + 0.24vw, 1.4rem);
  font-weight: 600;
  margin: 0.2em 0;
}

h6 + p {
  font-size: clamp(1.2rem, 1.12rem + 0.24vw, 1.4rem);
}

a:not(.link, .btn, .btn--link) {
  color: var(--title);
  text-decoration: none;
}

label {
  color: var(--placeholder);
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  padding: 0.5em 2em;
  border-radius: 0.2em;
  -webkit-transition: background-color 200ms ease, color 200ms ease, border 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease, transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}
.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.btn--primary {
  background-color: var(--primary-btn-bg);
  border: 2px solid var(--primary-btn-bg);
  color: var(--primary-btn-color);
}
.btn--primary:hover, .btn--primary:focus {
  background-color: var(--primary-btn-bg-h);
  border: 2px solid var(--primary-btn-bg-h);
}
.btn--sec {
  background-color: var(--sec-btn-bg);
  border: 2px solid var(--sec-btn-bg);
  color: var(--sec-btn-color);
}
.btn--sec:hover, .btn--sec:focus {
  background-color: var(--sec-btn-bg-h);
  border: 2px solid var(--sec-btn-bg-h);
}
.btn--outline {
  border: 2px solid var(--primary-btn-bg);
  color: var(--primary-btn-bg);
}
.btn--outline:hover {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-color);
  text-shadow: none;
}
.btn--outline:focus {
  text-decoration: underline;
  text-shadow: none;
}
.btn--outline-y {
  border: 2px solid var(--sec-btn-bg);
  color: var(--sec-btn-bg);
  font-weight: 700;
  text-shadow: 0 0 8px black;
}
.btn--outline-y:hover, .btn--outline-y:focus {
  text-decoration: underline;
}
.btn--link {
  color: var(--text);
  text-decoration: underline;
  padding: 0;
}
.btn--link:hover, .btn--link:focus {
  text-decoration: none;
}
.btn--link:focus-visible {
  outline: 2px solid #292929;
}
.btn--link[disabled], .btn--link.btn--disabled {
  background-color: transparent !important;
  color: lightgray !important;
  text-decoration: underline !important;
}
.btn[disabled], .btn--disabled {
  cursor: not-allowed;
  background-color: lightgray;
  border-color: lightgray;
  color: var(--primary-btn-color);
}

.slider {
  margin-top: 12vh !important;
  margin-bottom: 12vh !important;
  max-width: 100%;
  overflow: hidden;
}
.slider .slick-center-lg {
  width: 120vw;
  margin: 0 -10vw;
}
.slider .slick-center-lg .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}
.slider .slick-center-lg .slick-track:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.slider .slick-center-lg .slick-track .slick-slide img:not(.slick-center img) {
  padding: 0 3em;
  -webkit-filter: grayscale(0.7) contrast(80%);
          filter: grayscale(0.7) contrast(80%);
  opacity: 0.7;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
@media screen and (max-width: 768px) {
  .slider .slick-center-lg .slick-track .slick-slide img:not(.slick-center img) {
    padding: 0 2em;
  }
}
@media screen and (max-width: 460px) {
  .slider .slick-center-lg .slick-track .slick-slide img:not(.slick-center img) {
    padding: 0 1em;
  }
}
@media screen and (max-width: 460px) {
  .slider .slick-center-lg .slick-track .slick-center {
    min-width: 60vw;
  }
}
.slider .slick-center-lg .slick-arrow {
  z-index: 999;
  background-color: var(--primary-btn-bg);
  background-repeat: no-repeat;
  background-size: 28%;
  width: 4rem;
  height: 4rem;
  outline: 2px solid var(--background);
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .slider .slick-center-lg .slick-arrow {
    width: 3rem;
    height: 3rem;
    outline-width: 1px;
  }
}
@media screen and (max-width: 460px) {
  .slider .slick-center-lg .slick-arrow {
    display: none;
  }
}
.slider .slick-center-lg .slick-arrow::before {
  content: none;
}
.slider .slick-center-lg .slick-arrow:hover {
  background-color: var(--primary-btn-bg-h);
}
.slider .slick-center-lg .slick-arrow:focus-visible {
  outline-offset: 0.3rem;
}
.slider .slick-center-lg .slick-arrow.slick-prev {
  left: 33rem;
  background-image: url(../images/slider-arrow-left.svg);
  background-position: 45% center;
}
@media screen and (max-width: 992px) {
  .slider .slick-center-lg .slick-arrow.slick-prev {
    left: 20%;
  }
}
@media screen and (max-width: 460px) {
  .slider .slick-center-lg .slick-arrow.slick-prev {
    left: 6rem;
  }
}
.slider .slick-center-lg .slick-arrow.slick-next {
  right: 33rem;
  background-image: url(../images/slider-arrow-right.svg);
  background-position: 54.5% center;
}
@media screen and (max-width: 992px) {
  .slider .slick-center-lg .slick-arrow.slick-next {
    right: 20%;
  }
}
@media screen and (max-width: 460px) {
  .slider .slick-center-lg .slick-arrow.slick-next {
    right: 6rem;
  }
}
.slider .slick-center-lg .slick-dots {
  bottom: -2em;
}
.slider .slick-center-lg .slick-dots li {
  margin: 0;
}
.slider .slick-center-lg .slick-dots button::before {
  font-size: 3rem;
}

.newsitems .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5em;
}
@media screen and (max-width: 992px) {
  .newsitems .row {
    gap: 2em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.newsitems .row .news-item {
  -ms-flex-preferred-size: calc(33% - 2.5em);
      flex-basis: calc(33% - 2.5em);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
@media screen and (max-width: 992px) {
  .newsitems .row .news-item {
    -ms-flex-preferred-size: calc(50% - 1em);
        flex-basis: calc(50% - 1em);
  }
}
@media screen and (max-width: 768px) {
  .newsitems .row .news-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.newsitems .row .news-item:hover, .newsitems .row .news-item:focus {
  -webkit-box-shadow: 0 3px 5px 0 var(--box-shadow-20);
          box-shadow: 0 3px 5px 0 var(--box-shadow-20);
}
.newsitems .row .news-item a:hover .img img, .newsitems .row .news-item a:focus .img img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.newsitems .row .news-item .img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 16em;
  overflow: hidden;
  background: #f5f5f5 url(../images/img-icon.svg) no-repeat;
  background-size: 30%;
  background-position: center 45%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media screen and (max-width: 1100px) {
  .newsitems .row .news-item .img {
    height: 14em;
  }
}
@media screen and (max-width: 768px) {
  .newsitems .row .news-item .img {
    height: 15em;
  }
}
.newsitems .row .news-item .img::before {
  content: "Kan afbeelding niet laden...";
  position: absolute;
  z-index: 0;
  top: 80%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 1.5rem;
  font-style: italic;
}
.newsitems .row .news-item .img img {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.newsitems .row .news-item .content {
  position: relative;
  padding: 1em;
  padding-top: 0.5em;
}
.newsitems .row .news-item .content h3 {
  font-size: 2.3rem;
  margin-bottom: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}
.newsitems .row .news-item .content p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  height: 8em;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .newsitems .row .news-item .content p {
    height: 5em;
  }
}
.newsitems .row .news-item .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}
.newsitems .row .news-item .content > div .link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  font-weight: 700;
  text-decoration: none;
  color: var(--title);
  -webkit-transition: gap 200ms ease;
  transition: gap 200ms ease;
}
.newsitems .row .news-item .content > div .link::after {
  content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.478%22%20height%3D%2216.151%22%20viewBox%3D%220%200%2023.478%2016.151%22%3E%0A%20%20%3Cpath%20id%3D%22arrow-down-outline%22%20d%3D%22M0%2C14.569l6.661%2C6.909%2C6.661-6.909M6.661%2C21.33V0%22%20transform%3D%22translate%281%2014.737%29%20rotate%28-90%29%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  height: 1.2em;
}
.newsitems .row .news-item .content > div .link:hover, .newsitems .row .news-item .content > div .link:focus {
  gap: 1.2em;
}
.newsitems .row .news-item .content > div .date {
  border: 1px solid var(--border);
  color: gray;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  text-transform: uppercase;
}

.animal-card {
  position: relative;
  background-color: #fff;
  color: var(--lighttext);
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2em;
  border: 1px solid var(--border);
}
.animal-card a {
  color: inherit;
}
.animal-card a > * {
  position: relative;
  z-index: 99;
}
.animal-card .img {
  z-index: 0;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0.2em;
}
.animal-card .img img {
  width: 100%;
  height: auto;
}
.animal-card .ras {
  position: absolute;
  z-index: 100;
  top: 1em;
  left: -0.5em;
  padding: 0.2em 0.8em;
  background-color: var(--primary-color);
  color: var(--primary-btn-color);
  opacity: 0;
  pointer-events: none;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transition: opacity 200ms ease, -webkit-clip-path 300ms ease 250ms;
  transition: opacity 200ms ease, -webkit-clip-path 300ms ease 250ms;
  transition: opacity 200ms ease, clip-path 300ms ease 250ms;
  transition: opacity 200ms ease, clip-path 300ms ease 250ms, -webkit-clip-path 300ms ease 250ms;
}
.animal-card .desc {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0.8em;
  font-size: clamp(1.2rem, 1.11rem + 0.24vw, 1.4rem);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.animal-card .desc > * {
  position: relative;
  -webkit-transition: top 200ms ease;
  transition: top 200ms ease;
}
.animal-card .desc h2 {
  font-size: clamp(2rem, 1.66rem + 0.95vw, 2.8rem);
  line-height: 1;
  white-space: nowrap;
  color: var(--white);
  top: 3em;
}
.animal-card .desc p {
  top: 2em;
}
@media screen and (min-width: 768px) and (max-width: 1235px) {
  .animal-card .desc p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
  }
}
.animal-card .desc .btn {
  margin: 0.8em 0;
  padding: 0.2em 1em;
  letter-spacing: 1px;
}
.animal-card a::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0.5)), color-stop(80%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 80%);
  border-radius: 0.2em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.animal-card a:hover .desc h2, .animal-card a:hover .desc p, .animal-card a:focus-visible .desc h2, .animal-card a:focus-visible .desc p {
  top: 0;
}
.animal-card a:hover .ras, .animal-card a:focus-visible .ras {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.animal-card a:hover::after, .animal-card a:hover .ras, .animal-card a:hover .desc, .animal-card a:hover .desc .btn, .animal-card a:focus-visible::after, .animal-card a:focus-visible .ras, .animal-card a:focus-visible .desc, .animal-card a:focus-visible .desc .btn {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 768px) {
  .animal-card a .desc h2, .animal-card a .desc p {
    top: 0;
  }
  .animal-card a .ras {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .animal-card a::after, .animal-card a .ras, .animal-card a .desc, .animal-card a .desc .btn {
    opacity: 1;
    pointer-events: all;
  }
}

.container {
  position: relative;
  width: 1280px;
  max-width: 90%;
  margin-inline: auto;
}

/* header */
header {
  position: sticky;
  z-index: 99999;
  top: -1px;
  left: 0;
  right: 0;
  background-color: var(--white);
  -webkit-box-shadow: 5px 0 8px var(--box-shadow-10);
          box-shadow: 5px 0 8px var(--box-shadow-10);
  font-size: 1.6rem;
  -webkit-transition: margin-bottom 200ms ease, margin-top 200ms ease, top 200ms ease;
  transition: margin-bottom 200ms ease, margin-top 200ms ease, top 200ms ease;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  text-decoration: none;
  outline: none;
}
header .logo a span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sec-color);
}
@media screen and (max-width: 460px) {
  header .logo a span {
    display: none;
  }
}
header .logo a img {
  width: auto;
  height: 9rem;
  margin-bottom: -1.5rem;
  margin-top: -2px;
  -webkit-box-shadow: 5px 0 5px 0 var(--box-shadow-10);
          box-shadow: 5px 0 5px 0 var(--box-shadow-10);
  -webkit-transition: margin-bottom 200ms ease, height 200ms ease;
  transition: margin-bottom 200ms ease, height 200ms ease;
}
header .logo a:focus span {
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}
@media screen and (max-width: 992px) {
  header nav::before {
    content: "";
    position: fixed;
    z-index: -2;
    inset: 0;
    top: 7.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  header nav.active::before {
    opacity: 1;
    pointer-events: all;
  }
}
header nav .hamburger {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 3.5rem;
  height: 3rem;
  cursor: pointer;
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
}
header nav .hamburger .line {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: #777;
  border-radius: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header nav .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(0.7em);
          transform: translateY(0.7em);
}
header nav .hamburger.active .line:nth-child(2) {
  width: 0;
}
header nav .hamburger.active .line:nth-child(1),
header nav .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
header nav .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-1em) rotate(90deg);
          transform: translateY(-1em) rotate(90deg);
}
@media screen and (max-width: 992px) {
  header nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  list-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0s ease;
  transition: -webkit-box-shadow 0s ease;
  transition: box-shadow 0s ease;
  transition: box-shadow 0s ease, -webkit-box-shadow 0s ease;
}
@media screen and (max-width: 992px) {
  header nav ul {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -30em;
    width: 100vw;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em 0 1.5em 0;
    margin: 0;
    min-height: 40vh;
    background-color: var(--white);
    -webkit-box-shadow: 0 5px 8px -3px var(--box-shadow-20);
            box-shadow: 0 5px 8px -3px var(--box-shadow-20);
    -webkit-transition: top 0.8s ease, -webkit-box-shadow 250ms ease;
    transition: top 0.8s ease, -webkit-box-shadow 250ms ease;
    transition: top 0.8s ease, box-shadow 250ms ease;
    transition: top 0.8s ease, box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
  }
  header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  header nav ul {
    padding-top: 1em;
  }
}
header nav ul li a {
  position: relative;
  display: block;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  padding: 0.6em 0.8em;
  border-radius: 0.2em;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
header nav ul li a:not(.btn):hover, header nav ul li a:not(.btn):focus {
  background-color: var(--active-link-bg);
  outline: none;
}
header nav ul li a.active {
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  header nav.active ul {
    top: 95%;
  }
}

.scrolled .logo img {
  margin-bottom: 0;
  height: 8rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  background-color: var(--white);
  -webkit-box-shadow: -5px 0 8px var(--box-shadow-10);
          box-shadow: -5px 0 8px var(--box-shadow-10);
  font-size: clamp(1.5rem, 0.99rem + 0.41vw, 1.6rem);
  padding: 2em 0 1em 0;
}
footer .container:first-child {
  gap: 2em;
}
@media screen and (max-width: 768px) {
  footer .container:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  footer .container:first-child .footer-col:not(:first-child) h3 {
    position: relative;
    padding: 0.5em 0;
    cursor: pointer;
  }
  footer .container:first-child .footer-col:not(:first-child) h3::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/footer-arrow.svg) no-repeat 95% 50%;
    background-size: 1em;
  }
  footer .container:first-child .footer-col:not(:first-child).open h3::after {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  footer .container:first-child .footer-col:not(:first-child).open a, footer .container:first-child .footer-col:not(:first-child).open span {
    display: block !important;
  }
  footer .container:first-child .footer-col:not(:first-child).open a.btn--primary {
    display: inline-block !important;
  }
  footer .container:first-child .footer-col a,
footer .container:first-child .footer-col span {
    display: none !important;
  }
}
footer .container:first-child .footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
footer .container:first-child .footer-col a:not(.btn), footer .container:first-child .footer-col span {
  color: var(--text);
  display: block;
  text-decoration: none;
  padding: 0.2em 0;
}
footer .container:first-child .footer-col a:not(.btn):hover:not(span), footer .container:first-child .footer-col a:not(.btn):focus:not(span), footer .container:first-child .footer-col span:hover:not(span), footer .container:first-child .footer-col span:focus:not(span) {
  text-decoration: underline;
}
footer .container:first-child .footer-col:last-child > span {
  margin: 0.2em 0 0.5em 0;
  font-style: italic;
}
footer .container:first-child .footer-col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}
footer .container:first-child .footer-col:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
@media screen and (max-width: 992px) {
  footer .container:first-child .footer-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}
footer .container:first-child .about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  font-size: 0.9em;
  margin-right: 2em;
}
footer .container:first-child .about .logo img {
  height: 5em;
  width: auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 992px) {
  footer .container:first-child .about {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .container:first-child .about {
    margin-bottom: 1.5em;
  }
}
footer .container:last-child {
  font-size: 1.4rem;
  color: #999;
  margin-top: 2.5em;
}
footer .container:last-child a {
  text-decoration: none;
  margin: 0 0.8em;
  color: inherit;
}
footer .container:last-child a:hover, footer .container:last-child a:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  footer .container:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container:last-child > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: max(10vw, 2em);
    margin-top: 0.8em;
  }
}
@media screen and (max-width: 460px) {
  footer .container:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  footer .container:last-child > div {
    display: block;
  }
  footer .container:last-child > div a {
    display: block;
    width: 100%;
    margin-bottom: 0.8em;
    text-decoration: underline;
  }
}

/* hero section */
.hero {
  padding-top: 1.5rem;
  background-color: var(--background);
  color: #f9f9f9;
  background-size: cover;
  background-position: center;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.4)), color-stop(80%, transparent), color-stop(90%, rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 40%, transparent 80%, rgba(255, 255, 255, 0.1) 90%);
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 1s forwards;
          animation: fadeIn 0.5s ease 1s forwards;
}
.hero .container {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 5%;
}
@media screen and (max-width: 460px) {
  .hero .container {
    text-align: left;
  }
}
.hero .hero-text h1, .hero .hero-text p {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .hero .hero-text h1, .hero .hero-text p {
    max-width: 100%;
  }
  .hero .hero-text h1 br, .hero .hero-text p br {
    display: none;
  }
}
.hero .hero-text h1 {
  font-size: clamp(3.8rem, 2.25rem + 2.08vw, 4rem) !important;
  max-width: 65rem;
  line-height: 1.1;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
@media screen and (max-width: 460px) {
  .hero .hero-text h1 {
    line-height: 1.3;
  }
}
.hero .hero-text p {
  max-width: 80rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.hero .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: 2em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
@media screen and (max-width: 460px) {
  .hero .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: max(3em, 10vh);
  }
}
.hero .btns .btn--outline {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6);
}
.hero .btns .btn--outline:hover {
  color: var(--primary-btn-bg);
  background-color: rgba(255, 255, 255, 0.75);
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.contact .row {
  gap: 2em;
}
@media screen and (max-width: 768px) {
  .contact .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact .row > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.contact .row > div:first-child p {
  margin-bottom: 1em;
}
.contact .row > div:first-child .google-maps {
  width: max(80%, 50rem);
  max-width: 100%;
  height: 30rem;
  margin-bottom: 1.5em;
  background-color: #eee;
}
.contact .row > div:first-child .google-maps iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.2em;
  border: none;
}

form {
  padding: 1em 1.15em;
  border: 1px solid var(--border);
  border-radius: 0.2em;
}
@media screen and (max-width: 992px) {
  form {
    padding: 1em;
  }
}
form div {
  position: relative;
  margin: 1.5em 0;
}
form input, form textarea {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 0.2em;
  background-color: var(--background);
  width: 100%;
  height: 2.5em;
  padding: 0.45em 0.85em;
}
form input:not(input[type=checkbox], #donateForm input, #donateForm textarea), form textarea:not(input[type=checkbox], #donateForm input, #donateForm textarea) {
  -webkit-box-shadow: inset 0 0 50rem var(--background);
          box-shadow: inset 0 0 50rem var(--background);
}
form input:hover, form textarea:hover {
  border-color: #999;
}
form input:focus, form textarea:focus {
  outline: none;
  border-color: #555;
}
form input:focus + label, form input:valid + label, form textarea:focus + label, form textarea:valid + label {
  background-color: var(--background);
  font-size: 1.5rem;
  top: -0.45em !important;
  padding: 0 0.5em;
  line-height: 1;
}
form input:user-invalid, form textarea:user-invalid {
  border-color: red;
}
form textarea {
  height: 6em;
  min-height: 2.5em;
  resize: vertical;
}
form input[type=checkbox] {
  height: 1.2em;
  width: 1.2em;
}
form label {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
form label:not(.newsletter label) {
  position: absolute;
  top: 0.45em;
  left: 0.85em;
}
form .newsletter {
  margin: -0.8em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form .newsletter label {
  color: var(--text);
}
form button[type=submit] {
  padding: 0.5em 3em;
}

.animals .grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3em;
  margin-top: 2em;
}
@media screen and (max-width: 992px) {
  .animals .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}
@media screen and (max-width: 768px) {
  .animals .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .animals .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about-us .flex {
  gap: 3em;
}
@media screen and (max-width: 768px) {
  .about-us .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-us .flex-col-50:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
.about-us p {
  margin-bottom: 2em;
}
.about-us img {
  position: sticky;
  top: 7.2em;
  margin-left: auto;
  max-height: 80vh;
}
@media screen and (max-width: 768px) {
  .about-us img {
    margin: 0 auto;
  }
}

.donate input, .donate textarea {
  -webkit-box-shadow: inset 0 0 50rem var(--white);
          box-shadow: inset 0 0 50rem var(--white);
}
.donate .donate-box > div {
  background-color: var(--white);
  border: 1px solid var(--border);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.donate .donate-left {
  max-width: 67%;
}
.donate .donate-left .banner {
  position: relative;
  height: 20rem;
  background-image: url(../images/doneren-banner.webp);
  background-repeat: no-repeat;
  background-position: center 90%;
  background-size: cover;
}
.donate .donate-left .banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.donate .donate-left .donate-info {
  padding: 1em;
}
.donate .donate-left .donate-info .top .totalprice {
  float: left;
  margin-right: 0.5em;
  color: var(--title);
  font-weight: 700;
}
.donate .donate-left .donate-info .top .goal {
  float: left;
  color: gray;
}
.donate .donate-left .donate-info .top .totaldonates a {
  color: gray;
  font-weight: 700;
}
.donate .donate-left .donate-info .top .progressbar {
  position: relative;
  width: 100%;
  height: 0.4em;
  margin: 1em 0;
  border-radius: 1em;
  background-color: var(--border);
}
.donate .donate-left .donate-info .top .progressbar .bar {
  position: absolute;
  width: 16%;
  max-width: 100% !important;
  height: 100%;
  border-radius: 1em;
  background-color: var(--primary-color);
  -webkit-transition: width 250ms linear;
  transition: width 250ms linear;
}
.donate .donate-left .donate-info .middle {
  margin: 1.5em 0;
}
.donate .donate-left .donate-info .middle h2 {
  font-size: 2.6rem;
}
.donate .donate-left .donate-info .bottom {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.donate .donate-left .donate-info .bottom .share {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  opacity: 1;
  padding: 0.5em 3em;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
.donate .donate-left .donate-info .bottom .share.copied span:not(#copied), .donate .donate-left .donate-info .bottom .share.copied img {
  opacity: 0.1;
}
.donate .donate-left .donate-info .bottom .share img {
  height: 1.3em;
  width: auto;
}
.donate .donate-left .donate-info .bottom .share #copied {
  pointer-events: none;
  position: absolute;
  inset: -1em;
  line-height: 7.3rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #282828;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.donate .donate-left .donate-info .bottom .share.copied #copied {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  opacity: 1;
}
.donate .donate-left .donate-info .bottom .thanks {
  gap: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.4rem;
  font-style: italic;
  color: gray;
  border-bottom: 1px solid var(--border);
}
.donate .donate-left .donate-info .bottom .thanks span {
  font-weight: 700;
}
.donate .donate-right {
  position: relative;
  max-width: 33%;
  width: 37rem;
  padding: 1em 1.5em;
  padding-top: 4em;
  margin-left: -1px;
}
.donate .donate-right .logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.donate .donate-right .logo img {
  width: 12rem;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.donate .donate-right h3 {
  text-align: center;
  margin-bottom: 1em;
}
.donate .donate-right .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5em;
}
.donate .donate-right .flex > button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  position: relative;
  font-size: 1.8rem;
  color: #666;
  background-color: var(--white);
  padding: 0.5em 0;
  border: 2px solid transparent;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 5px var(--box-shadow-20);
          box-shadow: 0 0 5px var(--box-shadow-20);
}
.donate .donate-right .flex > button.active {
  border-color: var(--sec-color);
  color: var(--sec-color);
  font-weight: 600;
  background: var(--white) url(../images/checkmark-yellow.svg) no-repeat calc(100% - 3px) 3px;
  background-size: 1em;
}
.donate .donate-right .flex > .input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  font-size: 1.8rem;
  background-color: var(--white);
  border: 2px solid transparent;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 5px var(--box-shadow-20);
          box-shadow: 0 0 5px var(--box-shadow-20);
  cursor: pointer;
}
.donate .donate-right .flex > .input.active {
  border-color: var(--sec-color);
}
.donate .donate-right .flex > .input.active::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  background: url(../images/checkmark-yellow.svg) no-repeat;
  background-size: 1em;
  width: 1em;
  height: 1em;
}
.donate .donate-right .flex > .input.active input {
  padding-right: 1.5em;
  color: var(--sec-color);
  font-weight: 600;
}
.donate .donate-right .flex > .input.active label span {
  font-weight: 600;
  color: var(--sec-color);
}
.donate .donate-right .flex > .input input {
  border: none;
  width: 67%;
  border-radius: inherit;
  padding: 0.5em;
  padding-left: 0;
  float: right;
  outline: none;
  font-size: inherit;
}
.donate .donate-right .flex > .input label {
  font-size: 1.6rem;
  position: absolute;
  top: 0.55em;
  left: 1em;
  font-style: italic;
  color: #999;
  pointer-events: none;
}
.donate .donate-right .flex > .input label span {
  font-size: 1.8rem;
  font-style: normal;
  margin-left: 0.5em;
  color: var(--text);
}
.donate .donate-right .msg:not(:empty) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -1em auto 1em auto;
  font-weight: 600;
  font-style: italic;
  color: red;
  padding-left: 2em;
  background: url(../images/warning.svg) no-repeat left 46%;
  background-size: 1.3em;
}
.donate .donate-right button.btn {
  width: 100%;
  text-align: center;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.donate .donate-right p.sm-text {
  font-size: 1.3rem;
  font-style: italic;
  color: #808080;
  text-align: center;
}
.donate .donate-right p.sm-text a {
  color: inherit;
  -webkit-text-decoration: underline #aaa;
          text-decoration: underline #aaa;
}
.donate .donate-right .back-btn {
  position: absolute;
  top: 1.5em;
  left: 1em;
  background-color: transparent;
  color: #666;
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.2em;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
}
.donate .donate-right .back-btn:hover, .donate .donate-right .back-btn:focus {
  background-color: #ededed;
}
.donate .donate-right form {
  all: unset;
}
.donate .donate-right form input, .donate .donate-right form label {
  background-color: var(--white) !important;
}
.donate .donate-right form label {
  pointer-events: none;
}
.donate .donate-right .second-slide h3 {
  margin-bottom: 2em;
}
.donate .donate-right .second-slide button.btn {
  margin-top: 2.5em;
}
.donate .donate-right .third-slide h3 span {
  font-size: 0.9em;
}
.donate .donate-right .third-slide img {
  margin-bottom: 0.5em;
}

section {
  position: relative;
  margin: max(10rem, 5vh) 0;
}
section:first-of-type {
  margin-top: 5rem;
}

.homepage section:first-of-type {
  margin-top: 0 !important;
}

.latest-donates .flex {
  gap: 2em;
}
.latest-donates ul {
  padding: 0.3em 1em;
  margin: 1.5em 0 0 0;
  list-style: none;
  border: 1px solid var(--border);
  border-radius: 0.2em;
}
.latest-donates ul.show-all li {
  display: block;
}
.latest-donates ul li {
  margin: 0.5em 0;
  text-align: justify;
  display: none;
}
.latest-donates ul li span {
  font-weight: 600;
}
.latest-donates ul li:nth-child(1), .latest-donates ul li:nth-child(2), .latest-donates ul li:nth-child(3), .latest-donates ul li:nth-child(4), .latest-donates ul li:nth-child(5) {
  display: block;
}
.latest-donates ul + a.btn--link {
  display: inline-block;
  margin-top: 1em;
}
.latest-donates img {
  border-radius: 0.2em;
}

main.error-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: max(57.2vh, 55rem);
  text-align: center;
}
main.error-page h1 {
  position: absolute;
  z-index: -1;
  font-size: clamp(15rem, -0.7142857143rem + 49.1071428571vw, 70rem);
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  color: rgba(0, 0, 0, 0.05);
}
main.error-page p {
  width: calc(100% - 2rem);
  margin: 0 auto 3em auto;
}
main.error-page .buttons {
  gap: 1em;
}